* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 5, 33);
    color: white;
    font-family: 'poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: rgb(24, 24, 86);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(187, 187, 255);
}

.left{
    font-size: 1.5rem;
}